/** index.css **/
/*  ___________________
 / \                   \
|   |                  |
 \_ |                  |
    |                  |     howToCreateAWebsite
    |                  |
    |                  |
    |  ________________|__
    |  \                  \
    |  /                  /
    \_/__________________/
*/

html {
  scroll-behavior: smooth;
}

.boxArrowLink {
  margin-right: 1rem;
  padding: 7px;
}

h2 {
//  border-top: solid 1px rgb(200, 200, 200);
  margin-top: 1rem;
}

.firstH2 {
  border: none;
  margin-top: 2rem;
}

h3 {
  font-family: var(--fontFamilyLight);
  font-size: 1.1rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.h3Variation {
  border-top: solid 1px rgb(200, 200, 200);
  font-weight: normal;
  margin: 2rem 0 0 0;
}

pre {
  background: rgb(250, 250, 250);
  border: solid 1px rgb(240, 240, 240);
  font-size: 0.85rem;
  padding: 1rem;
}

svg {
  display: inline-block;
}

details[open] {
  border: solid 1px rgb(200, 200, 200);
  border-radius: 1rem;
  padding: 1rem;
}

summary {
  border: solid 1px transparent;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 0 5px 0 5px;
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  transition-duration: 0.25s;
  transition-property: border, box-shadow;
  transition-timing-function: ease-in-out;
  width: fit-content;
}

summary:hover {
  border-radius: 3px;
  border: solid 1px blue;
  box-shadow: 3px 3px 3px rgba(100, 100, 100, 0.5);
  text-decoration: none;
}


table {
  font-size: 0.9rem;
}

ul, ol {
  margin: 0 0 0 2rem;
  padding: 0;
}

ul {
  list-style-type: none;
}

li {
  margin: 0 0 1rem 0;
}

.titleContainer {
  justify-content: flex-start;
  margin-bottom: 1rem;
  padding: 0;
}

.titleLeft {
  min-width: 100px;
}

.titleMiddle {
  display: block;
  line-height: 1.5rem;
}

.titleRight {
  min-width: 100px;
  text-align: right;
}

.titleText {
  font-size: 1.5rem;
}

.titleImg {
  height: 64px;
  margin-right: 1rem;
}

.note {
  background-color: rgb(255, 235, 200);
  border: solid 1px rgb(200, 200, 200);
  font-size: 0.9rem;
  margin: 1rem 0 1rem 0;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  width: 100%;
}

.warning {
  background-color: rgb(255, 255, 200);
  border: solid 1px rgb(200, 200, 200);
  font-size: 0.9rem;
  margin: 1rem 0 1rem 0;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  width: 100%;
}

/* detect narrow */
@media screen and (max-width: 600px) {
  .titleImg {height: auto; width: 64px; }
}
